@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html{
    font-family: "Noto Sans", serif;
  }
  body{
    background-color: #f2f7ff;
    overflow-x: hidden;
    overflow-y: hidden; 
  }
  ::-webkit-scrollbar {
    @apply w-[0] h-[0] rounded-[10px];
  }
  ::-webkit-scrollbar-track {
    @apply bg-transparent rounded-[10px];
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-[#bec6f3] rounded-[10px] hover:bg-[#6b77b7];
  }
}

@layer components {
  .file{
    @apply relative ;
  }
  .file::before,
  .file::after {
    @apply content-[""] bg-[#455ac1] h-px w-1/5 absolute -translate-y-2/4 top-2/4;
  }

  .time{
    @apply  w-full border-b border-opacity-20 border-b-[#536be0] hover:border-opacity-50 placeholder:text-[#536be0];
  }
  .time label{
    @apply text-[#455ac1] text-xs font-medium text-opacity-90 block w-full;
  }
  .time input{
    @apply text-[#455ac1] text-base font-semibold;
  }
  .time input::placeholder{
    @apply text-[#455ac1] text-opacity-40; 
  }
}