@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html{
    font-family: "Noto Sans", serif;
  }
  body{
    background-color: #f2f4fb;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

@layer components{
  .input-form{
    @apply mb-4 border border-[#1e2a5e] border-opacity-20 hover:border-opacity-60 rounded-md px-2 py-1;
  }
  .input-form label{
    @apply text-xs text-[] opacity-70 font-bold;
  }
  .input-form input{
    @apply w-full bg-transparent border-none outline-none;
  }
  .input-form select{
    @apply w-full bg-transparent border-none outline-none;
  }
  
}

@layer utilities{}